<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX","input/MathML","output/SVG", "output/CommonHTML"],
extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js", "CHTML-preview.js"],
TeX: {
  extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
},
  tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true,
      processEnvironments: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
  window.MathJax = {
  tex: {
    tags: 'ams'
  }
};
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<style type="text/css">
  p {
    text-align: justify;
  }

  .toc {
    visibility: none;
  }
  .initial-content {
    flex: 1 0 auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 836px;
  }
</style>


