<style type="text/css">
 #page-title {
   font-size: 2.5em;
   font-weight: bold;
 }
 article {
    max-width: 700px !important; 
    justify-content: center;
    padding-inline-end: 0em;
  }

  .page { 
    float: none;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    background: #252a34 !important;
  }

  p {
    text-align: justify;
    color: #eee;
  }

  .highlight .s { color: #eee; }

  .toc {
    display: none;
  }
  .initial-content {
    flex: 1 0 auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 936px;
  }

.site-title {
  font-size: 20px;
}
.jp-OutputArea-output {
  padding: 0 !important;
}
.jp-OutputArea-output pre {
  background: #252a34;
}
pre { 
  line-height: 125%;
  background: #1f2335;
}
p { text-align: justify; }
body { color: white !important; font-size: 13px !important; !important; }
.sidebar li { color: white !important; font-size: 13px !important; !important; }
.sidebar p { color: white !important; font-size: 13px !important; !important; }
.sidebar a { color: white !important; font-size: 13px !important; !important; }
span { color: #eee; }
.kt, .k { color: #c0caf5 !important; }
.mi { color: #ff9e64 !important;}
.p, .o, h1 { color: #eeeeee !important;}
pre { color: white !important; }
.jp-OutputArea-prompt, .jp-InputArea-prompt { display: none !important; }
li { color: #eee !important; }
code { background-color: #eee; }
</style>
